In [1]:
import pandas as pd

In [5]:
import os 
os.chdir(r"C:\Users\anton\Downloads\Data pour le Streamlit")

# traitementr fichier transaction

In [9]:
df = pd.read_csv('final2017_2022transaction_IDF (1).csv', sep =';')

C:\Users\anton\AppData\Local\Temp\ipykernel_25100\2063606470.py:1: DtypeWarning: Columns (16,18,19,20,22,24,26,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('final2017_2022transaction_IDF (1).csv', sep =';')

In [10]:
df

,Unnamed: 0.1,Unnamed: 0,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,...,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,Total_surface,prix_metre_carré
0,0,0.0,2017-731653,2017-07-04,1,Vente,571110.0,16.0,NaN,RUE SAINT GILLES,...,3.0,NaN,NaN,NaN,NaN,NaN,2.366404,48.858043,49.51,1.153525e+04
1,1,1.0,2017-731654,2017-07-04,1,Vente,579000.0,55.0,NaN,BD DES BATIGNOLLES,...,0.0,NaN,NaN,NaN,NaN,NaN,2.318392,48.881321,76.57,7.561708e+03
2,2,2.0,2017-731654,2017-07-04,1,Vente,579000.0,55.0,NaN,BD DES BATIGNOLLES,...,0.0,NaN,NaN,NaN,NaN,NaN,2.318392,48.881321,76.57,7.561708e+03
3,3,3.0,2017-731655,2017-07-04,1,Vente,1578150.0,66.0,NaN,RUE DE LISBONNE,...,4.0,NaN,NaN,NaN,NaN,NaN,2.306998,48.877579,139.02,1.135196e+04
4,4,4.0,2017-731656,2017-07-06,1,Vente,60000.0,36.0,NaN,RUE DES BOURDONNAIS,...,0.0,NaN,NaN,NaN,NaN,NaN,2.345655,48.860345,7.22,8.310249e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2408509,2408509,NaN,2022-510972,2022-01-28,1,Vente,219900.0,47.0,NaN,RUE DE PARIS,...,3.0,NaN,NaN,NaN,NaN,NaN,2.115178,49.040734,59.98,3.666222e+03
2408510,2408510,NaN,2022-510972,2022-01-28,1,Vente,219900.0,47.0,NaN,RUE DE PARIS,...,0.0,NaN,NaN,NaN,NaN,NaN,2.115178,49.040734,0.00,inf
2408511,2408511,NaN,2022-510973,2022-03-16,1,Vente,193000.0,64.0,NaN,AV DE VERDUN,...,3.0,S,sols,NaN,NaN,332.0,2.105588,49.042004,0.00,inf
2408512,2408512,NaN,2022-510974,2022-06-28,1,Vente,222000.0,5.0,NaN,RUE DU DCT CHABRY,...,3.0,NaN,NaN,NaN,NaN,NaN,2.257655,48.990169,0.00,inf
2408513,2408513,NaN,2022-510974,2022-06-28,1,Vente,222000.0,5.0,NaN,RUE DU DCT CHABRY,...,0.0,NaN,NaN,NaN,NaN,NaN,2.257655,48.990169,0.00,inf

In [11]:
print(df.columns)

Index(['Unnamed: 0.1', 'Unnamed: 0', 'id_mutation', 'date_mutation',
       'numero_disposition', 'nature_mutation', 'valeur_fonciere',
       'adresse_numero', 'adresse_suffixe', 'adresse_nom_voie',
       'adresse_code_voie', 'code_postal', 'code_commune', 'nom_commune',
       'code_departement', 'ancien_code_commune', 'ancien_nom_commune',
       'id_parcelle', 'ancien_id_parcelle', 'numero_volume', 'lot1_numero',
       'lot1_surface_carrez', 'lot2_numero', 'lot2_surface_carrez',
       'lot3_numero', 'lot3_surface_carrez', 'lot4_numero',
       'lot4_surface_carrez', 'lot5_numero', 'lot5_surface_carrez',
       'nombre_lots', 'code_type_local', 'type_local', 'surface_reelle_bati',
       'nombre_pieces_principales', 'code_nature_culture', 'nature_culture',
       'code_nature_culture_speciale', 'nature_culture_speciale',
       'surface_terrain', 'longitude', 'latitude', 'Total_surface',
       'prix_metre_carré'],
      dtype='object')

In [12]:
df['nature_culture'].value_counts()

sols                   594345
terrains a bâtir        50942
terrains d'agrément     47361
terres                  38459
jardins                 37714
taillis simples         22962
vergers                  7849
prés                     5819
taillis sous futaie      3674
landes                   3591
peupleraies              1551
eaux                      751
bois                      652
chemin de fer             416
futaies résineuses        258
carrières                 178
vignes                    167
futaies feuillues         124
landes boisées             24
futaies mixtes              4
oseraies                    3
herbages                    1
Name: nature_culture, dtype: int64

In [ ]:
## selection des noms des colonnes à utiliser dans le fichier transaction

In [ ]:
#list_col = ['date_mutation', 'valeur_fonciere',' code_postal','code_commune','code_departement','type_local','surface_reelle_bati','nombre_pieces_principales','latitude',"prix_metre_carré","Total_surface",'longitude']

## selection des colonnes  à utiliser dans le fichier transaction

In [13]:
df_trans_ML= df[['date_mutation', 'valeur_fonciere','code_commune','code_departement','type_local','nombre_pieces_principales','latitude',"prix_metre_carré","Total_surface",'longitude']]

In [14]:
df_trans_ML

,date_mutation,valeur_fonciere,code_commune,code_departement,type_local,nombre_pieces_principales,latitude,prix_metre_carré,Total_surface,longitude
0,2017-07-04,571110.0,75103,75,Appartement,3.0,48.858043,1.153525e+04,49.51,2.366404
1,2017-07-04,579000.0,75108,75,Local industriel. commercial ou assimilé,0.0,48.881321,7.561708e+03,76.57,2.318392
2,2017-07-04,579000.0,75108,75,Local industriel. commercial ou assimilé,0.0,48.881321,7.561708e+03,76.57,2.318392
3,2017-07-04,1578150.0,75108,75,Appartement,4.0,48.877579,1.135196e+04,139.02,2.306998
4,2017-07-06,60000.0,75101,75,Dépendance,0.0,48.860345,8.310249e+03,7.22,2.345655
...,...,...,...,...,...,...,...,...,...,...
2408509,2022-01-28,219900.0,95572,95,Appartement,3.0,49.040734,3.666222e+03,59.98,2.115178
2408510,2022-01-28,219900.0,95572,95,Dépendance,0.0,49.040734,inf,0.00,2.115178
2408511,2022-03-16,193000.0,95572,95,Maison,3.0,49.042004,inf,0.00,2.105588
2408512,2022-06-28,222000.0,95219,95,Appartement,3.0,48.990169,inf,0.00,2.257655
2408513,2022-06-28,222000.0,95219,95,Dépendance,0.0,48.990169,inf,0.00,2.257655

In [15]:
df_trans_ML["type_local"] = df_trans_ML["type_local"].fillna("Autre")

C:\Users\anton\AppData\Local\Temp\ipykernel_25100\1718969131.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trans_ML["type_local"] = df_trans_ML["type_local"].fillna("Autre")

In [16]:
print(df_trans_ML["type_local"].value_counts())

Appartement                                 784824
Dépendance                                  702234
Autre                                       496303
Maison                                      303279
Local industriel. commercial ou assimilé    121874
Name: type_local, dtype: int64

In [17]:
df_trans_ML['annee_mois'] = df_trans_ML['date_mutation'].apply(lambda x: x[0:7])

C:\Users\anton\AppData\Local\Temp\ipykernel_25100\22195945.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trans_ML['annee_mois'] = df_trans_ML['date_mutation'].apply(lambda x: x[0:7])

In [18]:
df_trans_ML

,date_mutation,valeur_fonciere,code_commune,code_departement,type_local,nombre_pieces_principales,latitude,prix_metre_carré,Total_surface,longitude,annee_mois
0,2017-07-04,571110.0,75103,75,Appartement,3.0,48.858043,1.153525e+04,49.51,2.366404,2017-07
1,2017-07-04,579000.0,75108,75,Local industriel. commercial ou assimilé,0.0,48.881321,7.561708e+03,76.57,2.318392,2017-07
2,2017-07-04,579000.0,75108,75,Local industriel. commercial ou assimilé,0.0,48.881321,7.561708e+03,76.57,2.318392,2017-07
3,2017-07-04,1578150.0,75108,75,Appartement,4.0,48.877579,1.135196e+04,139.02,2.306998,2017-07
4,2017-07-06,60000.0,75101,75,Dépendance,0.0,48.860345,8.310249e+03,7.22,2.345655,2017-07
...,...,...,...,...,...,...,...,...,...,...,...
2408509,2022-01-28,219900.0,95572,95,Appartement,3.0,49.040734,3.666222e+03,59.98,2.115178,2022-01
2408510,2022-01-28,219900.0,95572,95,Dépendance,0.0,49.040734,inf,0.00,2.115178,2022-01
2408511,2022-03-16,193000.0,95572,95,Maison,3.0,49.042004,inf,0.00,2.105588,2022-03
2408512,2022-06-28,222000.0,95219,95,Appartement,3.0,48.990169,inf,0.00,2.257655,2022-06
2408513,2022-06-28,222000.0,95219,95,Dépendance,0.0,48.990169,inf,0.00,2.257655,2022-06

In [19]:
df_trans_ML.columns

Index(['date_mutation', 'valeur_fonciere', 'code_commune', 'code_departement',
       'type_local', 'nombre_pieces_principales', 'latitude',
       'prix_metre_carré', 'Total_surface', 'longitude', 'annee_mois'],
      dtype='object')

# Traitement fichier  inflation

In [20]:
df_infl = pd.read_csv('Inflation_men_2002-2021.csv', sep =',')

In [21]:
df_infl

,Date,I P C,Inflation Mensuelle( m /m-1 ),Inflation en glisst Annuel( m /m-12 ),Moy Glissante 12 mois
0,2021-12,107.85,0.2,2.8,1.64%
1,2021-11,107.64,0.4,2.8,1.54%
2,2021-10,107.25,0.4,2.6,1.42%
3,2021-09,106.81,-0.2,2.2,1.28%
4,2021-08,107.05,0.6,1.9,1.17%
...,...,...,...,...,...
235,2002-05,105.90,0.1,1.4,1.8%
236,2002-04,105.80,0.4,2.0,1.9%
237,2002-03,105.40,0.5,2.1,1.9%
238,2002-02,104.90,0.1,2.0,1.8%
239,2002-01,104.80,0.5,2.2,1.8%

In [22]:
df_infl_ML  = df_infl[["Date","I P C","Inflation Mensuelle( m /m-1 )"]]

In [23]:
df_infl_ML

        Date   I P C  Inflation Mensuelle( m /m-1 )
0    2021-12  107.85                            0.2
1    2021-11  107.64                            0.4
2    2021-10  107.25                            0.4
3    2021-09  106.81                           -0.2
4    2021-08  107.05                            0.6
..       ...     ...                            ...
235  2002-05  105.90                            0.1
236  2002-04  105.80                            0.4
237  2002-03  105.40                            0.5
238  2002-02  104.90                            0.1
239  2002-01  104.80                            0.5

[240 rows x 3 columns]

# traitement fichier volume m2 bâtit en ile de France == >   A revoir car inexplotable

In [25]:
df_vol_bat = pd.read_csv('volumesbatisparis (2).csv', sep =';')

In [26]:
df_vol_bat

,geom_x_y,geom,C_NAT_B,L_NAT_B,C_SRC,L_SRC,M2,NB_PL,M2_PL_TOT,B_RDC,...,L_PLAN_H,H_ET_MAX,N_QU,OBJECTID,Identifiant s?quentiel,Arrondissement contenant le bati,Parcelle contenant le bati,Quartier contenant le bati,st_area(shape),st_perimeter(shape)
0,"48.88798046377737, 2.3456202512757542","{""coordinates"": [[[2.3456865741776203, 48.8880...",V,Volume bâti simple,T,Fiche parcellaire et terrain certifié,114.115689,4.0,456.462757,1.0,...,R+3,3.0,70.0,360007,750310251,750000018,750058075.0,750000070.0,114.111888,42.988426
1,"48.83531882666116, 2.344450456773759","{""coordinates"": [[[2.3443753611545, 48.8353461...",V,Volume bâti simple,T,Fiche parcellaire et terrain certifié,53.678127,4.0,214.712507,1.0,...,R+3,3.0,52.0,360008,750166766,750000013,750034885.0,750000052.0,53.671189,32.499772
2,"48.89167970961773, 2.360108861030033","{""coordinates"": [[[2.359994925945679, 48.89172...",V,Volume bâti simple,T,Fiche parcellaire et terrain certifié,142.893943,8.0,1143.151547,1.0,...,R+7,7.0,72.0,360013,750298745,750000018,750060017.0,750000072.0,142.889374,65.910469
3,"48.8737331127974, 2.334036786726998","{""coordinates"": [[[2.3340201398299243, 48.8737...",V,Volume bâti simple,T,Fiche parcellaire et terrain certifié,5.545007,1.0,5.545007,1.0,...,R,0.0,34.0,360015,750084287,75000009,750016531.0,750000034.0,5.544832,9.451131
4,"48.883628171860565, 2.3150680428774733","{""coordinates"": [[[2.315034028838801, 48.88367...",V,Volume bâti simple,T,Fiche parcellaire et terrain certifié,54.103460,1.0,54.103460,1.0,...,R,0.0,67.0,360039,750251995,750000017,750052478.0,750000067.0,54.101257,35.202583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360375,"48.84994602367624, 2.325678368401883","{""coordinates"": [[[2.3257178103091696, 48.8499...",V,Volume bâti simple,T,Fiche parcellaire et terrain certifié,17.067953,1.0,17.067953,1.0,...,R,0.0,23.0,39680,750047461,75000006,750010019.0,750000023.0,17.066491,20.288617
360376,"48.84998606717579, 2.32564878894959","{""coordinates"": [[[2.325667785899351, 48.85002...",V,Volume bâti simple,T,Fiche parcellaire et terrain certifié,47.112286,2.0,94.224572,1.0,...,R+1,1.0,23.0,39681,750047462,75000006,750010019.0,750000023.0,47.106914,30.563585
360377,"48.850228772597966, 2.3281844141846157","{""coordinates"": [[[2.3282130664561325, 48.8502...",V,Volume bâti simple,T,Fiche parcellaire et terrain certifié,69.907539,1.0,69.907539,1.0,...,R,0.0,23.0,39705,750047875,75000006,750010407.0,750000023.0,69.900272,47.721658
360378,"48.85029109019184, 2.3281926228578556","{""coordinates"": [[[2.32817689703627, 48.850309...",V,Volume bâti simple,T,Fiche parcellaire et terrain certifié,9.553174,1.0,9.553174,1.0,...,R,0.0,23.0,39706,750047876,75000006,750010407.0,750000023.0,9.552272,13.091758
360379,"48.84957619651688, 2.330469300250473","{""coordinates"": [[[2.3306564972526886, 48.8496...",V,Volume bâti simple,T,Fiche parcellaire et terrain certifié,239.418647,7.0,1675.930529,1.0,...,R+6,6.0,23.0,39716,750046682,75000006,750009227.0,750000023.0,239.392560,91.369945

In [27]:
df_vol_bat.columns

Index(['geom_x_y', 'geom', 'C_NAT_B', 'L_NAT_B', 'C_SRC', 'L_SRC', 'M2',
       'NB_PL', 'M2_PL_TOT', 'B_RDC', 'C_PLAN_H_I', 'Y', 'L_PLAN_H_I', 'X',
       'D_CRE', 'L_B_U', 'D_MAJ', 'N_AR', 'L_PLAN_H', 'H_ET_MAX', 'N_QU',
       'OBJECTID', 'Identifiant s?quentiel',
       'Arrondissement contenant le bati', 'Parcelle contenant le bati',
       'Quartier contenant le bati', 'st_area(shape)', 'st_perimeter(shape)'],
      dtype='object')

# traitement fichier taux chômage

In [28]:
df_txcho = pd.read_csv('df_chomage2011_20022.csv', sep =',')

In [29]:
df_txcho

,chômage Ile de France,year_extract,mois_extract,population total,taux chômage
0,814240,2011,janvier,11852851,"6,87"
1,813780,2011,février,11852851,"6,87"
2,810490,2011,mars,11852851,"6,84"
3,801200,2011,avril,11852851,"6,76"
4,802620,2011,mai,11852851,"6,77"
...,...,...,...,...,...
138,1052870,2022,juillet,12395148,"8,49"
139,1069030,2022,août,12395148,"8,62"
140,1079660,2022,septembre,12395148,"8,71"
141,1080560,2022,octobre,12395148,"8,72"
142,1074040,2022,novembre,12395148,"8,67"

In [30]:
df_txcho_ML  = df_txcho[["year_extract","mois_extract","taux chômage"]]

In [31]:
df_txcho_ML

     year_extract mois_extract taux chômage
0            2011      janvier         6,87
1            2011      février         6,87
2            2011         mars         6,84
3            2011        avril         6,76
4            2011          mai         6,77
..            ...          ...          ...
138          2022      juillet         8,49
139          2022         août         8,62
140          2022    septembre         8,71
141          2022      octobre         8,72
142          2022     novembre         8,67

[143 rows x 3 columns]

In [ ]:
#dic_mois= {k :0 for k in set(df_txcho_ML['mois_extract'])}

In [32]:
dic_mois = {'novembre': '11', 'juin': '06', 'avril': '04', 'février': '02', 'septembre': '09', 'juillet': '07', 'mai': '05', 'août': '08', 'octobre': '10', 'décembre': '12', 'janvier': '01', 'mars': '03'}

In [ ]:
print(dic_mois)

In [33]:

df_txcho_ML['mois_extract'] = df_txcho_ML['mois_extract'].map(dic_mois)

C:\Users\anton\AppData\Local\Temp\ipykernel_25100\3122820735.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_txcho_ML['mois_extract'] = df_txcho_ML['mois_extract'].map(dic_mois)

In [34]:
df_txcho_ML

     year_extract mois_extract taux chômage
0            2011           01         6,87
1            2011           02         6,87
2            2011           03         6,84
3            2011           04         6,76
4            2011           05         6,77
..            ...          ...          ...
138          2022           07         8,49
139          2022           08         8,62
140          2022           09         8,71
141          2022           10         8,72
142          2022           11         8,67

[143 rows x 3 columns]

In [35]:
df_txcho_ML['year_extract'] = df_txcho_ML['year_extract'].apply(lambda x: str(x))

C:\Users\anton\AppData\Local\Temp\ipykernel_25100\124948480.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_txcho_ML['year_extract'] = df_txcho_ML['year_extract'].apply(lambda x: str(x))

In [36]:
df_txcho_ML['annee_mois'] = df_txcho_ML['year_extract'] +"-"+df_txcho_ML['mois_extract']

C:\Users\anton\AppData\Local\Temp\ipykernel_25100\2869317615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_txcho_ML['annee_mois'] = df_txcho_ML['year_extract'] +"-"+df_txcho_ML['mois_extract']

In [37]:
df_txcho_ML

    year_extract mois_extract taux chômage annee_mois
0           2011           01         6,87    2011-01
1           2011           02         6,87    2011-02
2           2011           03         6,84    2011-03
3           2011           04         6,76    2011-04
4           2011           05         6,77    2011-05
..           ...          ...          ...        ...
138         2022           07         8,49    2022-07
139         2022           08         8,62    2022-08
140         2022           09         8,71    2022-09
141         2022           10         8,72    2022-10
142         2022           11         8,67    2022-11

[143 rows x 4 columns]

In [38]:
df_txcho_ML_F = df_txcho_ML[["annee_mois","taux chômage"]]

In [39]:
df_txcho_ML_F

    annee_mois taux chômage
0      2011-01         6,87
1      2011-02         6,87
2      2011-03         6,84
3      2011-04         6,76
4      2011-05         6,77
..         ...          ...
138    2022-07         8,49
139    2022-08         8,62
140    2022-09         8,71
141    2022-10         8,72
142    2022-11         8,67

[143 rows x 2 columns]

# traitement fichier taux de crédit  == >données de  2011 à 2021

In [40]:
df_txCre = pd.read_csv('df_IDF_pret.csv', sep =',')

In [41]:
df_txCre

,an,type,region,dept,code insee,pm2,prix total,duree pret,taux pret,nbsmic
0,2011,0,Île-de-France,75.0,75056.0,NaN,200000.00,180,3.80,7.64
1,2011,0,Île-de-France,75.0,75056.0,7096.77,220368.00,300,4.40,1.91
2,2011,0,Île-de-France,75.0,75056.0,NaN,740000.00,300,3.80,5.41
3,2011,0,Île-de-France,75.0,75056.0,NaN,378000.00,180,3.95,2.08
4,2011,0,Île-de-France,75.0,75056.0,NaN,150000.00,180,3.90,1.50
...,...,...,...,...,...,...,...,...,...,...
190990,2021,1,Île-de-France,95.0,95116.0,3244.44,258741.13,180,1.50,0.50
190991,2021,1,Île-de-France,95.0,95116.0,3333.33,283500.00,300,1.46,0.90
190992,2021,1,Île-de-France,95.0,95116.0,3322.67,291088.00,180,0.98,1.14
190993,2021,1,Île-de-France,95.0,95116.0,3432.10,251077.00,144,1.70,0.67
190994,2021,1,Île-de-France,95.0,95116.0,3223.11,283775.00,240,1.35,1.29

In [42]:
df_txCre['an'].value_counts()

2011    60645
2017    17109
2016    17049
2018    15756
2019    15026
2012    11450
2021    11273
2014    11099
2020    11049
2013    10577
2015     9962
Name: an, dtype: int64

In [43]:
df_txCre_ML  = df_txCre[["an","dept","code insee","duree pret","taux pret" ]]

In [44]:

df_txCre_ML

          an  dept  code insee  duree pret  taux pret
0       2011  75.0     75056.0         180       3.80
1       2011  75.0     75056.0         300       4.40
2       2011  75.0     75056.0         300       3.80
3       2011  75.0     75056.0         180       3.95
4       2011  75.0     75056.0         180       3.90
...      ...   ...         ...         ...        ...
190990  2021  95.0     95116.0         180       1.50
190991  2021  95.0     95116.0         300       1.46
190992  2021  95.0     95116.0         180       0.98
190993  2021  95.0     95116.0         144       1.70
190994  2021  95.0     95116.0         240       1.35

[190995 rows x 5 columns]

In [ ]:
df_txCre_ML

# traitement du fichier taux d'usure

In [45]:
df_txUsure = pd.read_csv('taux_usure.csv', sep =',')

In [46]:
df_txUsure

,Type de prêt,Année,Trimestre,Mois,Jour,Somme de Taux Usure,Somme de Taux Usure.1
0,Prêts relais,2017,Trim 3,juillet,1,"6,66","6,66"
1,Prêts à taux fixe d'une durée de 20 ans et plus,2017,Trim 3,juillet,1,"6,50","6,50"
2,Prêts à taux fixe d'une durée inférieure à 10 ans,2017,Trim 3,juillet,1,"6,24","6,24"
3,Prêts à taux fixe d'une durée comprise entre 1...,2017,Trim 3,juillet,1,"6,18","6,18"
4,Prêts relais,2021,Trim 1,janvier,1,"5,94","5,94"
...,...,...,...,...,...,...,...
110,Prêts à taux variable,2020,Trim 1,janvier,1,"2,36","2,36"
111,Prêts à taux variable,2022,Trim 1,janvier,1,"2,33","2,33"
112,Prêts à taux variable,2022,Trim 2,avril,1,"2,32","2,32"
113,Prêts à taux variable,2020,Trim 3,juillet,1,"2,28","2,28"
114,Prêts à taux variable,2020,Trim 2,avril,1,"2,27","2,27"

In [47]:
df_txUsure['Année'] = df_txUsure['Année'].apply(lambda x: str(x))

In [48]:
df_txUsure['Mois'] = df_txUsure['Mois'].map(dic_mois)

In [49]:
df_txUsure['annee_mois'] = df_txUsure['Année'] +"-"+df_txUsure['Mois']

In [50]:
df_txUsure

,Type de prêt,Année,Trimestre,Mois,Jour,Somme de Taux Usure,Somme de Taux Usure.1,annee_mois
0,Prêts relais,2017,Trim 3,07,1,"6,66","6,66",2017-07
1,Prêts à taux fixe d'une durée de 20 ans et plus,2017,Trim 3,07,1,"6,50","6,50",2017-07
2,Prêts à taux fixe d'une durée inférieure à 10 ans,2017,Trim 3,07,1,"6,24","6,24",2017-07
3,Prêts à taux fixe d'une durée comprise entre 1...,2017,Trim 3,07,1,"6,18","6,18",2017-07
4,Prêts relais,2021,Trim 1,01,1,"5,94","5,94",2021-01
...,...,...,...,...,...,...,...,...
110,Prêts à taux variable,2020,Trim 1,01,1,"2,36","2,36",2020-01
111,Prêts à taux variable,2022,Trim 1,01,1,"2,33","2,33",2022-01
112,Prêts à taux variable,2022,Trim 2,04,1,"2,32","2,32",2022-04
113,Prêts à taux variable,2020,Trim 3,07,1,"2,28","2,28",2020-07
114,Prêts à taux variable,2020,Trim 2,04,1,"2,27","2,27",2020-04

# Traitement fichier demographique

In [51]:
df_demo = pd.read_excel("pop_idf_2014_2022_traite.xlsx")

In [52]:
df_demo_stack = df_demo.stack().reset_index()

In [53]:
print(df_demo_stack.head(1000).to_markdown())

ImportError: Missing optional dependency 'tabulate'.  Use pip or conda to install tabulate.

In [54]:
df_demo_stack.to_excel('/content/gdrive/MyDrive/2209-Data/Hackathon/TEAM MGMFR/CSV/CSV A VERIFIER/pop_idf_2014_2022_traite.xls',index=False)

C:\Users\anton\AppData\Local\Temp\ipykernel_25100\2068494033.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df_demo_stack.to_excel('/content/gdrive/MyDrive/2209-Data/Hackathon/TEAM MGMFR/CSV/CSV A VERIFIER/pop_idf_2014_2022_traite.xls',index=False)

ModuleNotFoundError: No module named 'xlwt'

In [55]:
! pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\anton\anaconda3\envs\datathon2\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\anton\anaconda3\envs\datathon2\lib\site-packages (from openpyxl) (1.1.0)

In [56]:
df_demo_traite = pd.read_excel('pop_idf_2014_2022_traite.xlsx')

In [57]:
df_demo_traite

    Date  Département  Population
0   2022           75     2139907
1   2021           75     2147716
2   2020           75     2157096
3   2019           75     2165423
4   2018           75     2175601
..   ...          ...         ...
67  2018           95     1238581
68  2017           95     1228618
69  2016           95     1221923
70  2015           95     1215390
71  2014           95     1205539

[72 rows x 3 columns]

# ML ==> Merges des fichiers

In [58]:
df_trans_ML['year'] = df_trans_ML['date_mutation'].apply(lambda x : x[:4])

C:\Users\anton\AppData\Local\Temp\ipykernel_25100\4248325923.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trans_ML['year'] = df_trans_ML['date_mutation'].apply(lambda x : x[:4])

In [59]:
df_trans_ML

,date_mutation,valeur_fonciere,code_commune,code_departement,type_local,nombre_pieces_principales,latitude,prix_metre_carré,Total_surface,longitude,annee_mois,year
0,2017-07-04,571110.0,75103,75,Appartement,3.0,48.858043,1.153525e+04,49.51,2.366404,2017-07,2017
1,2017-07-04,579000.0,75108,75,Local industriel. commercial ou assimilé,0.0,48.881321,7.561708e+03,76.57,2.318392,2017-07,2017
2,2017-07-04,579000.0,75108,75,Local industriel. commercial ou assimilé,0.0,48.881321,7.561708e+03,76.57,2.318392,2017-07,2017
3,2017-07-04,1578150.0,75108,75,Appartement,4.0,48.877579,1.135196e+04,139.02,2.306998,2017-07,2017
4,2017-07-06,60000.0,75101,75,Dépendance,0.0,48.860345,8.310249e+03,7.22,2.345655,2017-07,2017
...,...,...,...,...,...,...,...,...,...,...,...,...
2408509,2022-01-28,219900.0,95572,95,Appartement,3.0,49.040734,3.666222e+03,59.98,2.115178,2022-01,2022
2408510,2022-01-28,219900.0,95572,95,Dépendance,0.0,49.040734,inf,0.00,2.115178,2022-01,2022
2408511,2022-03-16,193000.0,95572,95,Maison,3.0,49.042004,inf,0.00,2.105588,2022-03,2022
2408512,2022-06-28,222000.0,95219,95,Appartement,3.0,48.990169,inf,0.00,2.257655,2022-06,2022
2408513,2022-06-28,222000.0,95219,95,Dépendance,0.0,48.990169,inf,0.00,2.257655,2022-06,2022

In [ ]:
(df_trans_ML.shape)

In [ ]:
df_infl_ML.shape

In [ ]:
df_trans_ML.isna().sum() / len(df_trans_ML)

## Merge avec le fichier inflation

In [ ]:
df_ML = df_trans_ML.merge(df_infl_ML, left_on="annee_mois", right_on="Date", how= 'left')
#{'2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06'} ça n'existe que dans df1

In [ ]:
df_ML.shape

In [ ]:
df_ML.columns

## Merge avec  le fichier

In [60]:
df_txcho_ML_F.shape

(143, 2)

In [61]:
print(df_txcho_ML_F.head().to_markdown())

ImportError: Missing optional dependency 'tabulate'.  Use pip or conda to install tabulate.

## merge avec le fichier chomage

In [62]:
df_ML_2 = df_trans_ML.merge(df_txcho_ML_F, left_on="annee_mois", right_on="annee_mois", how= 'left')

In [63]:
df_ML_2.shape

(2408514, 13)

## merge avec le taux de credit

In [64]:
df_txCre_ML

          an  dept  code insee  duree pret  taux pret
0       2011  75.0     75056.0         180       3.80
1       2011  75.0     75056.0         300       4.40
2       2011  75.0     75056.0         300       3.80
3       2011  75.0     75056.0         180       3.95
4       2011  75.0     75056.0         180       3.90
...      ...   ...         ...         ...        ...
190990  2021  95.0     95116.0         180       1.50
190991  2021  95.0     95116.0         300       1.46
190992  2021  95.0     95116.0         180       0.98
190993  2021  95.0     95116.0         144       1.70
190994  2021  95.0     95116.0         240       1.35

[190995 rows x 5 columns]

In [65]:
df_txCre_ML["an"] = df_txCre_ML["an"].apply(lambda x: str(x))

C:\Users\anton\AppData\Local\Temp\ipykernel_25100\1439523031.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_txCre_ML["an"] = df_txCre_ML["an"].apply(lambda x: str(x))

In [66]:
df_ML_2

,date_mutation,valeur_fonciere,code_commune,code_departement,type_local,nombre_pieces_principales,latitude,prix_metre_carré,Total_surface,longitude,annee_mois,year,taux chômage
0,2017-07-04,571110.0,75103,75,Appartement,3.0,48.858043,1.153525e+04,49.51,2.366404,2017-07,2017,"8,69"
1,2017-07-04,579000.0,75108,75,Local industriel. commercial ou assimilé,0.0,48.881321,7.561708e+03,76.57,2.318392,2017-07,2017,"8,69"
2,2017-07-04,579000.0,75108,75,Local industriel. commercial ou assimilé,0.0,48.881321,7.561708e+03,76.57,2.318392,2017-07,2017,"8,69"
3,2017-07-04,1578150.0,75108,75,Appartement,4.0,48.877579,1.135196e+04,139.02,2.306998,2017-07,2017,"8,69"
4,2017-07-06,60000.0,75101,75,Dépendance,0.0,48.860345,8.310249e+03,7.22,2.345655,2017-07,2017,"8,69"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2408509,2022-01-28,219900.0,95572,95,Appartement,3.0,49.040734,3.666222e+03,59.98,2.115178,2022-01,2022,"8,95"
2408510,2022-01-28,219900.0,95572,95,Dépendance,0.0,49.040734,inf,0.00,2.115178,2022-01,2022,"8,95"
2408511,2022-03-16,193000.0,95572,95,Maison,3.0,49.042004,inf,0.00,2.105588,2022-03,2022,"8,85"
2408512,2022-06-28,222000.0,95219,95,Appartement,3.0,48.990169,inf,0.00,2.257655,2022-06,2022,"8,55"
2408513,2022-06-28,222000.0,95219,95,Dépendance,0.0,48.990169,inf,0.00,2.257655,2022-06,2022,"8,55"

In [67]:
print(df_txCre_ML.shape)

(190995, 5)

In [68]:
df_ML_2

,date_mutation,valeur_fonciere,code_commune,code_departement,type_local,nombre_pieces_principales,latitude,prix_metre_carré,Total_surface,longitude,annee_mois,year,taux chômage
0,2017-07-04,571110.0,75103,75,Appartement,3.0,48.858043,1.153525e+04,49.51,2.366404,2017-07,2017,"8,69"
1,2017-07-04,579000.0,75108,75,Local industriel. commercial ou assimilé,0.0,48.881321,7.561708e+03,76.57,2.318392,2017-07,2017,"8,69"
2,2017-07-04,579000.0,75108,75,Local industriel. commercial ou assimilé,0.0,48.881321,7.561708e+03,76.57,2.318392,2017-07,2017,"8,69"
3,2017-07-04,1578150.0,75108,75,Appartement,4.0,48.877579,1.135196e+04,139.02,2.306998,2017-07,2017,"8,69"
4,2017-07-06,60000.0,75101,75,Dépendance,0.0,48.860345,8.310249e+03,7.22,2.345655,2017-07,2017,"8,69"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2408509,2022-01-28,219900.0,95572,95,Appartement,3.0,49.040734,3.666222e+03,59.98,2.115178,2022-01,2022,"8,95"
2408510,2022-01-28,219900.0,95572,95,Dépendance,0.0,49.040734,inf,0.00,2.115178,2022-01,2022,"8,95"
2408511,2022-03-16,193000.0,95572,95,Maison,3.0,49.042004,inf,0.00,2.105588,2022-03,2022,"8,85"
2408512,2022-06-28,222000.0,95219,95,Appartement,3.0,48.990169,inf,0.00,2.257655,2022-06,2022,"8,55"
2408513,2022-06-28,222000.0,95219,95,Dépendance,0.0,48.990169,inf,0.00,2.257655,2022-06,2022,"8,55"

In [69]:
df_txCre_ML = df_txCre_ML[df_txCre_ML.an.isin(['2017','2018','2019','2020','2021','2022'])]

In [70]:
df_txCre_ML.dropna(subset = ['dept'],inplace = True)

C:\Users\anton\AppData\Local\Temp\ipykernel_25100\40899240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_txCre_ML.dropna(subset = ['dept'],inplace = True)

In [71]:
df_txCre_ML2 = df_txCre_ML.groupby(['an'])[['duree pret' ,'taux pret']].mean().reset_index().sort_values(['an'])

In [72]:
df_txCre_ML2

     an  duree pret  taux pret
0  2017  250.970308   1.737426
1  2018  256.679360   1.627219
2  2019  263.758745   1.460774
3  2020  266.156865   1.419285
4  2021  269.048564   1.256372

In [73]:
df_txCre_ML2.loc[5] = ['2022','270.246714' ,'1.135893']

In [74]:
df_ML_2

,date_mutation,valeur_fonciere,code_commune,code_departement,type_local,nombre_pieces_principales,latitude,prix_metre_carré,Total_surface,longitude,annee_mois,year,taux chômage
0,2017-07-04,571110.0,75103,75,Appartement,3.0,48.858043,1.153525e+04,49.51,2.366404,2017-07,2017,"8,69"
1,2017-07-04,579000.0,75108,75,Local industriel. commercial ou assimilé,0.0,48.881321,7.561708e+03,76.57,2.318392,2017-07,2017,"8,69"
2,2017-07-04,579000.0,75108,75,Local industriel. commercial ou assimilé,0.0,48.881321,7.561708e+03,76.57,2.318392,2017-07,2017,"8,69"
3,2017-07-04,1578150.0,75108,75,Appartement,4.0,48.877579,1.135196e+04,139.02,2.306998,2017-07,2017,"8,69"
4,2017-07-06,60000.0,75101,75,Dépendance,0.0,48.860345,8.310249e+03,7.22,2.345655,2017-07,2017,"8,69"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2408509,2022-01-28,219900.0,95572,95,Appartement,3.0,49.040734,3.666222e+03,59.98,2.115178,2022-01,2022,"8,95"
2408510,2022-01-28,219900.0,95572,95,Dépendance,0.0,49.040734,inf,0.00,2.115178,2022-01,2022,"8,95"
2408511,2022-03-16,193000.0,95572,95,Maison,3.0,49.042004,inf,0.00,2.105588,2022-03,2022,"8,85"
2408512,2022-06-28,222000.0,95219,95,Appartement,3.0,48.990169,inf,0.00,2.257655,2022-06,2022,"8,55"
2408513,2022-06-28,222000.0,95219,95,Dépendance,0.0,48.990169,inf,0.00,2.257655,2022-06,2022,"8,55"

In [75]:
df_ML_2['code_departement'] = df_ML_2['code_departement'].apply(lambda x :  str(x))

In [76]:
df_ML_3 = df_ML_2.merge(df_txCre_ML2 , right_on=["an"], left_on=['year'], how= 'left')

In [77]:
print(df_ML_3.shape)

(2408514, 16)

In [78]:
df_ML_3.isna().sum()/len(df_ML_3)

date_mutation                0.000000
valeur_fonciere              0.011657
code_commune                 0.000000
code_departement             0.000000
type_local                   0.000000
nombre_pieces_principales    0.206523
latitude                     0.016881
prix_metre_carré             0.011657
Total_surface                0.000000
longitude                    0.016881
annee_mois                   0.000000
year                         0.000000
taux chômage                 0.000000
an                           0.000000
duree pret                   0.000000
taux pret                    0.000000
dtype: float64

In [79]:
df_ML_3.dropna(inplace = True)

In [80]:
! pip install xgboost

Requirement already satisfied: xgboost in c:\users\anton\anaconda3\envs\datathon2\lib\site-packages (1.7.3)
Requirement already satisfied: scipy in c:\users\anton\anaconda3\envs\datathon2\lib\site-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in c:\users\anton\anaconda3\envs\datathon2\lib\site-packages (from xgboost) (1.22.4)

In [81]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\anton\anaconda3\envs\datathon2\lib\site-packages (1.0.2)
Requirement already satisfied: joblib>=0.11 in c:\users\anton\anaconda3\envs\datathon2\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\anton\anaconda3\envs\datathon2\lib\site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\anton\anaconda3\envs\datathon2\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\anton\anaconda3\envs\datathon2\lib\site-packages (from scikit-learn) (1.22.4)

In [82]:
import numpy as np
import pandas as pd
import math as m
import xgboost as xg
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [83]:
df_ML_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1867179 entries, 0 to 2408513
Data columns (total 16 columns):
 #   Column                     Dtype
---  ------                     -----
 0   date_mutation              object
 1   valeur_fonciere            float64
 2   code_commune               int64
 3   code_departement           object
 4   type_local                 object
 5   nombre_pieces_principales  float64
 6   latitude                   float64
 7   prix_metre_carré           float64
 8   Total_surface              float64
 9   longitude                  float64
 10  annee_mois                 object
 11  year                       object
 12  taux chômage               object
 13  an                         object
 14  duree pret                 object
 15  taux pret                  object
dtypes: float64(6), int64(1), object(9)
memory usage: 242.2+ MB

In [84]:
df_ML_3 
#filtre  : code_departement, type_local

,date_mutation,valeur_fonciere,code_commune,code_departement,type_local,nombre_pieces_principales,latitude,prix_metre_carré,Total_surface,longitude,annee_mois,year,taux chômage,an,duree pret,taux pret
0,2017-07-04,571110.0,75103,75,Appartement,3.0,48.858043,1.153525e+04,49.51,2.366404,2017-07,2017,"8,69",2017,250.970308,1.737426
1,2017-07-04,579000.0,75108,75,Local industriel. commercial ou assimilé,0.0,48.881321,7.561708e+03,76.57,2.318392,2017-07,2017,"8,69",2017,250.970308,1.737426
2,2017-07-04,579000.0,75108,75,Local industriel. commercial ou assimilé,0.0,48.881321,7.561708e+03,76.57,2.318392,2017-07,2017,"8,69",2017,250.970308,1.737426
3,2017-07-04,1578150.0,75108,75,Appartement,4.0,48.877579,1.135196e+04,139.02,2.306998,2017-07,2017,"8,69",2017,250.970308,1.737426
4,2017-07-06,60000.0,75101,75,Dépendance,0.0,48.860345,8.310249e+03,7.22,2.345655,2017-07,2017,"8,69",2017,250.970308,1.737426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2408509,2022-01-28,219900.0,95572,95,Appartement,3.0,49.040734,3.666222e+03,59.98,2.115178,2022-01,2022,"8,95",2022,270.246714,1.135893
2408510,2022-01-28,219900.0,95572,95,Dépendance,0.0,49.040734,inf,0.00,2.115178,2022-01,2022,"8,95",2022,270.246714,1.135893
2408511,2022-03-16,193000.0,95572,95,Maison,3.0,49.042004,inf,0.00,2.105588,2022-03,2022,"8,85",2022,270.246714,1.135893
2408512,2022-06-28,222000.0,95219,95,Appartement,3.0,48.990169,inf,0.00,2.257655,2022-06,2022,"8,55",2022,270.246714,1.135893
2408513,2022-06-28,222000.0,95219,95,Dépendance,0.0,48.990169,inf,0.00,2.257655,2022-06,2022,"8,55",2022,270.246714,1.135893

In [85]:
#filtre pr martin streamlit

code_departement_input = 75
type_local_input = 'Appartement'
df_final = df_ML_3[(df_ML_3.code_departement == code_departement_input) | (df_ML_3.type_local == type_local_input) ]

In [86]:
df_ML_3["prix_total"] = df_ML_3["Total_surface"] * df_ML_3["prix_metre_carré"]

In [87]:
df_ML_3.to_csv('final_file.csv',index= False)

In [ ]:
#############" lire à partir d'ici##########################"

In [88]:
df_final = pd.read_csv('final_file.csv')

In [89]:
df_final.dropna(inplace=True)

In [90]:
code_departement_input = 75 #filtre streamlit
type_local_input = 'Appartement'
df_final = df_final[(df_final.code_departement == code_departement_input) | (df_final.type_local == type_local_input) ]

In [91]:
df_final.shape

(505418, 17)

In [92]:
List_col = ['valeur_fonciere','code_commune','nombre_pieces_principales',
            'Total_surface','taux pret','duree pret','taux chômage']

In [97]:
X, y = df_final[List_col], df_final["prix_total"]# Splitting
# Instantiation

In [94]:
X['taux chômage'] = X['taux chômage'].apply(lambda x : float(x.replace(',','.')))

C:\Users\anton\AppData\Local\Temp\ipykernel_25100\181131329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['taux chômage'] = X['taux chômage'].apply(lambda x : float(x.replace(',','.')))

In [95]:
train_X, test_X, train_y, test_y = train_test_split(X, y,test_size = 0.30, random_state = 42)

In [96]:
xgb_r = xg.XGBRegressor(objective ='reg:linear', n_estimators = 1000, seed = 42,learning_rate=0.01,max_depth=3)# Fitting the model
xgb_r.fit(train_X, train_y)# Predict the model
pred_test = xgb_r.predict(test_X)
pred_train = xgb_r.predict(train_X)
# RMSE Computation
print(metrics.r2_score(train_y,pred_train))
print(metrics.r2_score(test_y,pred_test))
print(metrics.mean_absolute_error(test_y,pred_test))
print(m.sqrt(metrics.mean_squared_error(test_y,pred_test)))

[16:31:37] WARNING: C:/buildkite-agent/builds/buildkite-windows-cpu-autoscaling-group-i-08de971ced8a8cdc6-1/xgboost/xgboost-ci-windows/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.
0.9999979583409375
0.9860193076471583
1734.6508661747291
213376.8491423318